@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-rocket: #7159c1;
    --color-white: #ffffff;
    --color-starter: #8257E5;
    --color-launch: #fd951f;
    --color-gostack: #04d361;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #282a36
}